

<div class="container aminated fadeIn fast">
    <div class="card bg-secondary bg-gradient" >
        <div class="card-body">
    
            <h1 class="text-center"></h1>
    
            <h5 class="card-title">Inicio para gestionar tus tareas <img src="/recursos/list.png" alt="logo" width="30px"></h5>
            <p class="card-text">Bienbenido a su app para gestionar las tareas dia a dia, puede iniciar revisando el 
                listado de tareas haciendo click en la barra de navegacion donde dice lista de tareas o en el siguiente 
                link -></p>
            <a href="list-task" class="btn btn-success">Listar tareas</a>
        </div>
    </div>
</div>