<div class="container aminated fadeIn fast">
    <app-loading *ngIf="loading"></app-loading>
        <div class="card mt-4">
        <div class="card-body"  *ngIf="!loading">
            <div class="">
                <h5 class="card-title text-center">{{titulo}}</h5>
            </div>
            <hr>
            <div class="card text-center">
                <div class="card-header">
                    Detalle de la tarea No {{task.id}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{task.title}}</h5>
                    <p class="card-text">{{task.description}}</p>
                    <label class="form-check-label" for="IsCompleted">Tarea completada</label>&nbsp;&nbsp;
                    <input type="checkbox" class="mb-3 form-check-input" checked="{{task.IsCompleted}}" id="IsCompleted"  disabled>
                    <br>
                    <a [routerLink]="['/list-task']" class="btn btn-primary"> <- Regresar</a>
                </div>
                <div class="card-footer text-muted">
                    Fecha de creacion: {{task.createAt}}
                </div>
            </div>

        </div>
    </div>
</div>


 {{task.id}}
<div class="container aminated fadeIn fast" *ngIf="task.id<=0">
    <div class="card mt-4">
        <div class="card-body">
            <div class="">
                <h5 class="card-title text-center">{{titulo}}</h5>
            </div>
            <hr>
            <div class="card text-center">
                <div class=" card-header alert alert-danger" role="alert">
                    registro no encontrado
                </div>
            </div>

        </div>
    </div>
</div>