<div class="container aminated fadeIn fast">
    <!-- <app-loading *ngIf="loading"></app-loading> -->
    <div class="card mt-4">
        <div class="card-body" > <!-- *ngIf="loading?false: true" -->
            <div class="">
                <h5 class="card-title text-center">{{titulo}}</h5>
            </div>
            <hr>
            <div class="card text-center" *ngIf="task.id">
                <div class="card-header">
                    Detalle de la tarea No {{task.id}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{task.title}}</h5>
                    <p class="card-text">{{task.description}}</p>
                    <label class="form-check-label" for="IsCompleted">Tarea completada</label>&nbsp;&nbsp;
                    <input type="checkbox" class="mb-3 form-check-input" checked="{{task.isCompleted}}" id="IsCompleted"
                        disabled>
                    <br>
                    <a [routerLink]="'/list-task'" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-backspace-fill" viewBox="0 0 16 16">
                            <path
                                d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8z" />
                        </svg>
                        Regresar
                    </a>
                </div>
                <div class="card-footer text-muted">
                </div>
                Fecha de creacion: {{task.createAt}}
            </div>
        </div>
    </div>
</div>

<div class="container aminated fadeIn fast" *ngIf="typeof task.id !== 'number'">
    <div class="card mt-4">
        <div class="card-body">
            <div class="">
                <h5 class="card-title text-center">{{titulo}}</h5>
            </div>
            <hr>
            <div class="card text-center">
                <div class=" card-header alert alert-danger" role="alert">
                    registro no encontrado
                </div>
            </div>
            <a  class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-backspace-fill" viewBox="0 0 16 16">
                    <path
                        d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8z" />
                </svg>
                Regresar
            </a>

        </div>
    </div>
</div>