<div class="container">
    <div class="container aminated fadeIn fast">
        <div class="card mt-4" >
            <div class=" container row">
                <div class="card bg-secondary bg-gradient">
                    <div class="card-body">
                        <h1 class="text-center"> Tarea no encontrada</h1>
    
                        <h5 class="card-title">Algo salio mal por favor intente mas tarde o contacte al administrador del sitio.</h5>
                        <p class="card-text">puedes regresar a inicio dando click en el botón></p>
                        <a [routerLink]="['home']" class="btn btn-success">Ir a inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>