<div class="container aminated fadeIn fast">
    <div class="card mt-4">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5 class="card-title">{{title}}</h5>
            </div>
            <hr>

            <form class="bg-luz.bg-gradiente mt-3"  [formGroup]="myForm" (ngSubmit)="onSave()" autocomplete="off">
                <input type="hidden" name="id" value="?">
                <div class="mb-3">
                    <label for="title" class="form-label">Titulo <span style="color: crimson;">*</span></label>
                    <input type="text" 
                            class="form-control" 
                            formControlName="title"
                            placeholder="digite un titulo para la nueva tarea">

                    <div class="form-text alert alert-danger" role="alert" *ngIf="isValidFile('title')" >el campo title es requerido</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">description </label>
                    <input type="text" 
                            class="form-control" 
                            placeholder="Descripción de la tarea"
                            formControlName="description">
                    <div  class="form-text alert alert-danger" role="alert" *ngIf="isValidFile('description')"  >el campo description debe contener minimo 10 letras</div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" 
                            class="form-check-input" 
                            id="IsCompleted"
                            formControlName="isCompleted">
                    <label class="form-check-label" for="IsCompleted">Tarea completada</label>
                </div>
                <div class="d-grid gap-2">

                    <button type="submit" class="btn btn-primary btn">{{btnName}}</button>
                </div>
            </form>
        </div>
    </div>

</div>