<div class="container aminated fadeIn fast">
    <app-loading *ngIf="loading"></app-loading>
    <div class="container aminated fadeIn fast">
        <div class="card mt-4" *ngIf="TaskList.length==0 && statusError ==null ">
            <div class=" container row">
                <div class="card bg-secondary bg-gradient">
                    <div class="card-body">
                        <h1 class="text-center"></h1>
    
                        <h5 class="card-title">No existe registro de tareas en el momento.</h5>
                        <p class="card-text">puedes regresar a inicio dando click en el botón></p>
                        <p>o puede ir al formulario de creacion de una nueva tarea</p>
                        <a [routerLink]="['home']" class="btn btn-success mx-2">Ir a inicio</a>
                        <a [routerLink]="['/create']" class="btn btn-success">Crear nueva tarea</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4" >
        <div class="card-body" *ngIf="TaskList.length>0">
            <div class="d-flex justify-content-between">
                <h5 class="card-title">{{title}}</h5>
                <div class="input-group-text animated fadeIn fast"> 
                    Tareas Activas&nbsp;<input type="radio" class="form-check-input mt-1 ml-1" name="isCompleted"
                        (change)="filtarTareasActivas(radioActiva.value)" value="activas" #radioActiva>&nbsp;&nbsp;
                    Tareas finalizadas &nbsp;<input type="radio" class="form-check-input mt-1 mr-1" name="isCompleted"
                        (change)="filtarTareasActivas(radioFinalizadas.value)" value="finalizadas" #radioFinalizadas>
                </div>
                <a class="btn btn-primary d-flex align-items-center" [routerLink]="['/create']">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path
                            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                    </svg>
                    &nbsp;&nbsp; Crear Nueva tarea
                </a>
            </div>
            <hr>

            <table class="table table-striped mt-4 aminate fadeIn fast" *ngIf="TaskList.length>0">
                <thead>
                    <tr>
                        <th scope="col"> Id </th>
                        <th scope="col">Title</th>
                        <th scope="col">description</th>
                        <th scope="col">isCompleted</th>
                        <th scope="col">createAt</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of TaskList">
                        <th scope="row">
                            {{ item.id }}
                        </th>
                        <td>{{ item.title }}</td>
                        <td>{{ item.description }}</td>
                        <td>
                            <input type="checkbox" [(ngModel)]="item.isCompleted" class="form-check-input"
                                id="flexCheckDefault" disabled> <!--   -->
                            <!--  -->
                        </td>
                        <td>{{ item.createAt }}</td>
                        <td class="">

                            <!-- boton de editar-->
                            <a class="btn btn-outline-success btn-sm d-flex justify-content-center mb-1"
                                [routerLink]="'/edit/'+item.id" 
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg" width="14" height="16" fill="currentColor"
                                    class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                </svg>
                            </a>

                            <!-- boton de eliminar-->
                            <a class="btn btn-outline-danger btn-sm d-flex justify-content-center mb-1 "
                                style="min-width: 90px;"
                                (click)="delete(item.id)"
                                 
                            >
                                 <svg
                                    xmlns="http://www.w3.org/2000/svg" width="14" height="12" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                </svg>
                            </a>
                            <!-- boton de detalle de tarea  -->
                            <a class="btn btn-outline-primary btn-sm d-flex justify-content-center"
                                style="min-width: 90px;" [routerLink]="'/detail/'+item.id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-binoculars" viewBox="0 0 16 16">
                                    <path
                                        d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container aminated fadeIn fast">
    <div class="card mt-4" *ngIf="statusError == 0 && TaskList.length ==0 ">
        <div class=" container row">
            <div class="card bg-secondary bg-gradient">
                <div class="card-body">
                    <h1 class="text-center"></h1>

                    <h5 class="card-title">No se tienes registro de tareas en el momento!! por favor intente mas tarde.</h5>
                    <p class="card-text">puedes regresar a inicio dando click en el botón></p>
                    <a [routerLink]="['home']" class="btn btn-success">Ir a inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>